<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<style type="text/css">
		.main_content_div {
			margin: auto;
			margin-top: 5%;
			width: 50%;
			border: 3px solid green;
			padding: 10px;
		}

		#content {
			text-align: center;
			border: 1px solid red;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	</style>

	<!-- Signature pad library -->
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.1/dist/signature_pad.min.js"></script>

	<!-- jquery for communication with Flask server -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Input and button handlers -->
	<script type="text/javascript">
		window.onload=function(){
				var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
				  backgroundColor: 'rgba(255, 255, 255, 255)',
				  penColor: 'rgb(0, 0, 0)',
				  minWidth: 4,
				  maxWidth: 4
				});

				var test = [{"json": '1'}, {"json": '2'}]

				function POSTRequest(data) {
					$.post("/post_receiver", JSON.stringify(data), function(){})
					event.preventDefault();
				};
		
				var goButton = document.getElementById('go');
				var cancelButton = document.getElementById('clear');
		
				goButton.addEventListener('click', function (event) {
				  POSTRequest(signaturePad.toDataURL())
				});
		
				cancelButton.addEventListener('click', function (event) {
				  signaturePad.clear();
				});
		};

	</script>
	
</head>
<body>

	<div class='main_content_div'>
		<div class='signature' id='content'>
			<canvas id="signature-pad" class="signature-pad" width=200 height=200 style="border:1px solid #222222"></canvas>
		</div>

		<div id='content'>
			<button id="go">Go</button>
			<button id="clear">Clear</button>
		</div>

		<div class='prediction' id='content'>
			<p> Predicted number: </p>
			<!-- https://www.datasciencelearner.com/python-ajax-json-request-form-flask/ -->
		<div>
	</div>

</body>
</html>